name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        implementation: [bash, rust]
    outputs:
      snap: ${{ steps.snapcraft.outputs.snap }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Implementation
        run: "echo ::notice::env-exporter implementation: ${{ matrix.implementation }}"

      - name: Initialize tests
        run: sudo ./tests/initialize -i ${{ matrix.implementation }}

      - name: Build snap
        uses: snapcore/action-build@v1
        id: snapcraft

      - name: Install snap
        run: sudo snap install *.snap --dangerous

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: envtester_${{ github.run_id }}_${{ matrix.implementation }}.snap
          path: ${{ steps.snapcraft.outputs.snap }}
          if-no-files-found: error

      - name: Run tests
        run: sudo ./tests/test-snappyenv ${{ matrix.implementation }}
